.wrapper {
    margin-bottom: 24px;
    max-width: 400px;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
  }
  
  .input {
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  